#root > div > div > div:nth-child(2) > div > svg {
  height: 1.5rem !important;
  width: 2rem !important;
  color: white;
}

#root > div > div > div:nth-child(1) > svg {
  height: 1.5rem !important;
  width: 2rem !important;
  color: white;
}

::-webkit-scrollbar {
  display: none;
}
